
<div class="container">

    <div class="row">
        <div class="col m12">

            <div class="content">

                <img class="responsive-img z-depth-4" src="lib/images/min/email-marketing (2).jpg">
                <h5 class="center-align">Email Marketing</h5>

                <div class="content-body">
                    <h4>Email Marketing</h4>
                    <div class="row">
                        <div class="col m8">
                            <p>
                                Email marketing creates opportunities to expand your sales and grow your business. 
                                Email marketing is directly marketing a commercial message to a group of people. 
                                It usually involves using email to send ads, request business, or solicit sales or donations,
                                 and is meant to build loyalty, trust, or brand awareness. 
                                Email marketing can be done to either purchased lists or a current customer database. 
                                Digital Spidergram has a dedicated team with a professional experience in
                                 Email Marketing for more than 8 years.
                            </p>
                        </div>
                        <div class="col m4">
                            <img class="responsive-img z-depth-3" src="lib/images/min/email-marketing (1).jpg" />
                        </div>
                    </div>
                    <p>
                        One of the major concerns in an email marketing campaign is “SPAMING” At  Digital Spidergram 
                        we have a solid list or a database of REAL people in every possible niche. 
                        We have maintained this database for many years and it is updated every 30 days. 
                        All additions or deletions in the list are constantly updated so there’s 
                        no duplicates at all and hence no Spamming. A
                         targeted email campaign can work wonders for your sales. At  Digital Spidergram 
                        we ensure that our email campaigns get delivered and persuade the recipients to open the emails.
                    </p>
                    <p>
                        Our specialists will spend time with you to understand your 
                        product/services and find out what your USPs are. 
                        We design you a visually engaging, user friendly email that engages your potential customer. 
                        You can easily follow up with a telephone call to everyone who visits your website.
                    </p>
                    <p>
                        Once your email campaign is sent, we will track it by seeing how many people click on your website.
                         Those details will be provided to you, 
                        so your sales team can call all the potential customers who showed interest by visiting your website.
                    </p>
                </div>

            </div>

        </div>
    </div>

</div>
