
<div class="container">

    <div class="row">
        <div class="col m12">

            <div class="content">

                <img class="responsive-img z-depth-4" src="lib/images/min/mobileapps.jpg">
                <h5 class="center-align">Mobile Apps</h5>

                <div class="content-body">
                    <h4>Mobile Apps</h4>
                    <div class="row">
                        <div class="col m8">
                            <p>
                                We can create any type of application from news to annual reports,
                                 or even just a fun playful app! Our experienced team of graphic, 
                                interactive and technical designers have been involved in award winning digital projects,
                                 and continue to inspire with creative and forward think…
                            </p>
                        </div>
                        <div class="col m4">
                            <img class="responsive-img z-depth-3" src="lib/images/min/mobileapps.png" />
                        </div>
                    </div>
                    <p>

                        Your apps should work around your needs.
                        Digital Spidergram Mobile Apps design, develop and promote mobile apps according to your requirements,
                         in particular so that they are visible on all handheld devices such as smartphones and tablets.

                        With extensive experience and technical expertise which have been gained in both business and enterprise sectors, our in-house app developers who are in-house at Vibe Mobile Apps
                         will work alongside clients in order to create the most effective apps and mobile package possible.
                    </p>
                </div>

            </div>

        </div>
    </div>

</div>