<div class="container">

    <div class="row">
        <div class="col m12">

            <div class="content">

                <img class="responsive-img z-depth-4" src="lib/images/min/social-media-.jpg">
                <h5 class="center-align">Social Media Marketing</h5>

                <div class="content-body">
                    <h4 class="hide-on-small-only">Social Media Marketing</h4>
                    <div class="row">
                        <div class="col m8">
                            <p>
                                Social Media Management by Digital Spidergram has created a solid reputation among
                                 businesses and agencies throughout the UK. Social media platforms have 
                                flourished tremendously over the past 7 years. It is very uncommon for businesses 
                                to not have them! With the growing number of platforms, there has been a multitude 
                                of Social Media Management jobs created not only in the design firm/agency world, 
                                but also throughout all business types.
                            </p>
                            <p>
                                Digital Spidergram has a well-known Social Media Management department. 
                                We’ve grown our own social media platform tri-fold within the past 6 months. 
                                To top it off, we’ve extended this service to our clients!
                            </p>
                        </div>
                        <div class="col m4">
                            <img class="responsive-img z-depth-3" src="lib/images/min/social-media-photo-large.jpg" />
                        </div>
                    </div>
                    <p>
                        Social Media Management is not something that should be overlooked for your business. 
                        Since social media platforms have grown so much and can be very extensive,
                         it’s best to let our Social Media Management team handle them for you.
                    </p>
                    <p>
                        We’ll make sure that your social media campaign is effective and well thought out. 
                        Most importantly, we’ll keep you at the forefront of both their work and your client’s eyes.
                         We will keep you on the right path and ensure that there are no costly missteps or inconsistent messages in 
                        your social media campaign.
                         We’re the best gun for hire in all of the UK.
                    </p>
                    <p>
                        Call or email us today to handle all of your social media needs!
                    </p>
                </div>

            </div>

        </div>
    </div>

</div>
