
<div class="container">

    <div class="row">
        <div class="col m12">

            <div class="content">

                <img class="responsive-img z-depth-4" src="lib/images/min/webdev.jpg">
                <h5 class="center-align">Web Development</h5>

                <div class="content-body">
                    <h4 class="hide-on-small-only">Web Development</h4>
                    <div class="row">
                        <div class="col m8">
                            <p>
                                Website development is a form of art and you get a quality website, 
                                when there is a proper understanding of the medium. At VIBE Marketing we 
                                aptly harness the power of inventive creations and that of fast evolving internet 
                                technologies to deliver your project with highest quality standards.
                                 To understand web design, understanding internet is necessary.
                            </p>
                            <p>
                                Understanding the target audience is essential for us to be able to incorporate 
                                the design elements that will deliver a successful website. For example – A site that 
                                targets accountants is going to have a completely different feel from one 
                                targeting Window companies .
                            </p>
                        </div>
                        <div class="col m4">
                            <img class="responsive-img z-depth-3" src="lib/images/min/web-development.png" />
                        </div>
                    </div>
                    <p>
                        The basic web design plan includes:
                        <ul>
                            <li>Detailing information architecture</li>
                            <li>The planned site structure</li>
                            <li>A site map of the now to be designed and built pages</li>
                            <li>Various technical details. Such as use of scripts or Ajax, a server-side language like PHP or something else, need of a shopping cart and so on.</li>
                        </ul>
                        
                        The designing process now begins where we determine:
                        <ul>
                            <li>Design Wire frames and the layout</li>
                            <li>Colour scheme and a harmonious combination</li>
                            <li>Planning a theme</li>
                            <li>Inclusion of decorative images and icons.</li>
                        </ul>
 
                        Content gathering is the next step because the visitors click on the site to look for certain content.
                         The content can include text, images, and multimedia
                        <ul>
                            <li>Text – articles, lists, blog posts, reviews, etc.</li>
                            <li>Graphics –find images for web pages, photos, etc.</li>
                            <li> Multimedia – The use of multimedia should be done wisely.</li>
                        </ul>

                        After this process is complete, we are ready to build, test and upload the site onto the Web.
                        We also offer a PAY MONTHLY website service.
                    </p>
                </div>

            </div>

        </div>
    </div>

</div>
